@font-face {
  font-family: "ponur";
  src: url("../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ponur2";
  src: url("../../design/fonts/Aceh-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.slider-container {
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72.4vw;
  height: 36vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
  position: relative;
}

.slide {
  width: 20vw;
  height: 30vw;
  background: #ffffff;
  border-radius: 2vw;
  margin: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  transition: transform 0.8s ease-in-out, opacity 0.6s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.slide .slider-container-laptop {
  margin-top: 4vw;
  width: 25vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw;
  padding: 0.2vw;
}
.slide .slider-container-laptop-pomeo {
  margin-top: 3vw;
  margin-left: -1.5vw;
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw;
  padding: 0.2vw;
}
.slide .slider-container-iphone {
  margin-top: 1.8vw;
  margin-left: -2vw;
  width: 6vw;
  height: 11.5vw;
  border-radius: 1vw;
  padding: 0.2vw;
}
.slide i {
  position: absolute;
  color: black;
  margin-top: 23vw;
  margin-left: 26vw;
  cursor: pointer;
  font-size: 1.5vw;
  position: absolute;
}
.slide .text-overlay {
  position: absolute;
  margin-top: -21vw;
  font-size: 1.3vw;
  text-shadow: 2.1vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  color: black;
  font-family: "ponur";
  border-radius: 1vw;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.slide .text-overlay2 {
  position: absolute;
  margin-top: -17vw;
  font-size: 0.7vw;
  text-shadow: 2.1vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  color: black;
  font-family: "ponur";
  border-radius: 1vw;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.slide .button-portfolio {
  cursor: pointer;
  position: absolute;
  height: 2vw;
  width: 9vw;
  margin-top: 23vw;
  border-radius: 1vw;
  background-color: #fff;
  border-color: #49006E;
  font-size: 0.65vw;
  font-family: "ponur";
  transition: all 0.3s;
}
.slide button:hover {
  border-color: #49006E;
  border-bottom-color: #49006E;
  background-color: rgba(247, 240, 240, 0.726);
}
.slide:not(.middle-slide) {
  filter: blur(0.5vw) brightness(70%);
}

.middle-slide {
  width: 30vw;
  height: 28vw;
  transform: scale(1.2);
  transition: transform 0.8s ease-in-out;
  z-index: 10;
  top: 1vw;
}
.middle-slide .text-overlay {
  opacity: 1;
}

.slide:not(.middle-slide) .text-overlay {
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vw;
  color: #ffffff;
  background: rgba(41, 41, 41, 0.5);
  border: none;
  cursor: pointer;
  padding: 1vw;
  border-radius: 50%;
  transition: background 0.3s ease;
  z-index: 10;
  pointer-events: auto;
  width: 4.3vw;
}
.arrow:hover {
  background: rgba(0, 0, 0, 0.3);
}
.arrow i {
  font-size: 2vw;
}

.arrow-left {
  left: 2vw;
}

.arrow-right {
  right: 2vw;
}

/*# sourceMappingURL=slider.css.map */
