* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}

header{
    overflow-x: hidden;
}

main{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

footer{
  

    

}
