@font-face {
    font-family: "ponur";
    src: url("../../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  .navigation {
    position: sticky;
    top: 0 ;
    z-index: 10;
    
    .navigation-container {
      width: 100%;
      height: 5vw;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .navigation__container-content {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        width: 100%;
        
  
  
        .navigation__container-content-logo{
  
          img{
          height: 5vw;
          width: 11vw;
          }
  
          margin-left: -31vw;
          margin-top: 0.2vw;
  
        }
  
        .navigation__container-content-subpages{
  
          height: 3vw;
          width: 50vw;
          border-radius: 2vw;
          background-color: rgba(182, 182, 182, 0.315);
          display: flex;
          gap: 2.2vw;
          margin-top: 1.4vw;
          margin-left: -30vw;
          justify-content: center;
          align-items: center;
  
          span{
            border-radius: 0.3vw;
            text-decoration: none;
            cursor: pointer;
            font-family: 'ponur';
            font-size: 1vw;
            letter-spacing: 0.1vw;
            display: inline-block;
            color: rgb(0, 0, 0);
            transition: all 0.4s;
    
            &:hover{
              text-decoration: none;
              transform: scale(1.1);
              background-color: rgba(235, 235, 235, 0.438);
              color: #49006E;
            }
            
          }
  
          .subpages_seperator{
  
            font-size: 1.5vw;
            font-weight: bold;
            margin-bottom: 0.3vw;
            
          }
  
          .navigation__container-content-subpages-icons{
  
            display: flex;
            gap: 1.2vw;
            margin-left: -1vw;
            margin-top: 0.1vw;
  
            .navigation__container-content-subpages-icons-website{
  
  
              i{  
                color: rgb(0, 0, 0);
                text-decoration: none;
                cursor: pointer;
                margin-top: 0.09vw;
                font-size: 1.3vw;
                transition: all 0.3s;
    
                &:hover{
                  transform: scale(1.1);
                  background-color: rgba(235, 235, 235, 0.438);
                  color: #49006E;
                }
    
              }
            }
  
            
            .navigation__container-content-subpages-icons-instagram{
  
            i{
              color: rgb(0, 0, 0);
              text-decoration: none;
              cursor: pointer;
              margin-top: 0.02vw;
              font-size: 1.5vw;
              transition: all 0.3s;
  
              &:hover{
                transform: scale(1.1);
                background-color: rgba(235, 235, 235, 0.438);
                color: #49006E;
              }
  
            }
          }
      
        }
  
      }
    }
  }
  }