@use '_variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: variables.$menu4_background;
}

.menu2__menu3-seperator{
    width: 100%;
    
    height: 0.07vw;
    background-color: variables.$seperator_color;
}

main{

    margin-left: 11vw;
    margin-right: 11vw;
}

footer{

    background-color: variables.$menu4_background;

}