@font-face {
    font-family: "ponur";
    src: url("../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ponur2";
    src: url("../../design/fonts/Aceh-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.slider {
    width: 50vw;
    height: 30vw;
    
    position: relative;
    top: -40vw;
    left: 50%;              
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid #EBEBEB;

    .slider-container1 {

        width: 20vw;
        height: 25vw;
        background-color: yellow;
        border: 0.1vw solid #EBEBEB;
        .slider__container1-content {
            display: flex;
            
            flex-direction: column;
            align-items: center;
            

            h1{


            }
            p{

            }

           
        }
    }
}